<div class="tecidos-container">

  <h2 class="titulo-pagina">
    Nossos Tecidos ✨
    <span class="sub">As imagens são ilustrativas e podem variar conforme o dispositivo. A escolha final é confirmada pelo WhatsApp.
    </span>
  </h2>

  <div class="cards-tecidos">
    <div
      class="card-tecido"
      *ngFor="let tecido of tecidos"
      (click)="abrirDetalhes(tecido)"
    >
      <img [src]="tecido.imagem" [alt]="tecido.nome">
      <h3>{{ tecido.nome }}</h3>

      <!-- Botão de ajuda -->
      <button
        class="botao-ajuda"
        (click)="toggleDescricao(tecido, $event)">
        ?
      </button>

      <!-- Descrição aparece ao clicar no ? -->
      <div class="descricao-ajuda" *ngIf="tecido.mostrarDescricao">
        {{ tecido.descricao }}
      </div>
    </div>
  </div>
</div>

<!-- Botão flutuante lateral direita -->
<button
  *ngIf="showBackToTop"
  class="back-to-top-fixed"
  (click)="scrollToTop()"
  aria-label="Voltar ao topo"
>
  <i class="bi bi-arrow-up"></i>
</button>
