<div class="filtro-ordenacao">
  <i class="bi bi-funnel-fill icon-filtro"></i>

  <select [(ngModel)]="ordenacao" (change)="ordenarProdutos()">
    <option value="">Ordenar...</option>
    <option value="nomeAsc">Nome (A → Z)</option>
    <option value="nomeDesc">Nome (Z → A)</option>
    <option value="maiorValor">Maior valor</option>
    <option value="menorValor">Menor valor</option>
  </select>
</div>

<div class="tabs">
  <div *ngFor="let aba of abas; let i = index"
    class="tab"
    [class.active]="abaAtiva === i"
    (click)="mudarAba(i)">
    {{ aba }}
  </div>
</div>

<div class="container-cards">

  <!-- Aba 0 — Inverno -->
  <div *ngIf="abaAtiva === 0" class="tab-content active">
    <div class="grid-produtos">
      <ng-container *ngFor="let produto of produtos">
        <a *ngIf="produto.tipo === 'inverno' && produto.estoque > 0"
          [routerLink]="['/produto-detalhes', produto.nome]"
          class="card-produto-link card-inverno">

          <div class="card-produto">
            <div class="produto-info">
              <h3>{{ produto.nome }}</h3>
              <div class="linha-seta"></div>
            </div>

            <div class="img-wrapper">
              <img [src]="produto.imagens[0]" [alt]="produto.nome" class="img-produto" />
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>

  <!-- Aba 1 — Verão -->
  <div *ngIf="abaAtiva === 1" class="tab-content active">
    <div class="grid-produtos">
      <ng-container *ngFor="let produto of produtos">
        <a *ngIf="produto.tipo === 'verao' && produto.estoque > 0"
          [routerLink]="['/produto-detalhes', produto.nome]"
          class="card-produto-link card-verao">

          <div class="card-produto">
            <div class="produto-info">
              <h3>{{ produto.nome }}</h3>
              <div class="linha-seta"></div>
            </div>

            <div class="img-wrapper">
              <img [src]="produto.imagens[0]" [alt]="produto.nome" class="img-produto" />
            </div>

            <div class="btn-ver-detalhes"></div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>

  <!-- Aba 2 — Meia Estação -->
  <div *ngIf="abaAtiva === 2" class="tab-content active">
    <div class="grid-produtos">
      <ng-container *ngFor="let produto of produtos">
        <a *ngIf="produto.tipo === 'meiaestacao' && produto.estoque > 0"
          [routerLink]="['/produto-detalhes', produto.nome]"
          class="card-produto-link card-mestacao">

          <div class="card-produto">
            <div class="produto-info">
              <h3>{{ produto.nome }}</h3>
              <div class="linha-seta"></div>
            </div>

            <div class="img-wrapper">
              <img [src]="produto.imagens[0]" [alt]="produto.nome" class="img-produto" />
            </div>

            <div class="btn-ver-detalhes"></div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>

  <!-- Aba 3 — Acessórios -->
  <div *ngIf="abaAtiva === 3" class="tab-content active">
    <div class="grid-produtos">
      <ng-container *ngFor="let produto of produtos">
        <a *ngIf="produto.tipo === 'acessorios' && produto.estoque > 0"
          [routerLink]="['/produto-detalhes', produto.nome]"
          class="card-produto-link card-acessorios">

          <div class="card-produto">
            <div class="produto-info">
              <h3>{{ produto.nome }}</h3>
              <div class="linha-seta"></div>
            </div>

            <div class="img-wrapper">
              <img [src]="produto.imagens[0]" [alt]="produto.nome" class="img-produto" />
            </div>

            <div class="btn-ver-detalhes"></div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>

  <!-- Aba 4 — Artesanato -->
  <div *ngIf="abaAtiva === 4" class="tab-content active">
    <div class="grid-produtos">
      <ng-container *ngFor="let produto of produtos">
        <a *ngIf="produto.tipo === 'artesanato' && produto.estoque > 0"
          [routerLink]="['/produto-detalhes', produto.nome]"
          class="card-produto-link card-chuva">

          <div class="card-produto">
            <div class="produto-info">
              <h3>{{ produto.nome }}</h3>
              <div class="linha-seta"></div>
            </div>

            <div class="img-wrapper">
              <img [src]="produto.imagens[0]" [alt]="produto.nome" class="img-produto" />
            </div>

            <div class="btn-ver-detalhes"></div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>

</div>
<!-- Botão flutuante -->
<button class="back-to-top-fixed" (click)="scrollToTop()" aria-label="Voltar ao topo">
  <i class="bi bi-arrow-up"></i>
</button>
