<div class="box-flutuante">
  <div class="box-inner">
    <h1 class="titulo">Modelos Pronta Entrega</h1>
    <p class="texto-aconchegante">
      Esses modelos são únicos! Para garantir a beleza e qualidade, não são passíveis de reformas ou ajustes.
    </p>
    <div class="box-cta">
      <p>Quer em outro tecido, cor ou tamanho? Chame-nos no WhatsApp e solicite um orçamento personalizado!</p>
      <a href="https://wa.me/5541999218178" target="_blank" rel="noopener" class="btn-whatsapp-grande">
        <i class="bi bi-whatsapp"></i> Fale Conosco
      </a>
    </div>
  </div>
</div>

<div class="grid-produtos-wrapper">
  <div class="grid-produtos">
    <a [routerLink]="['/produto-detalhes', produto.nome]" class="card-produto-link"
      *ngFor="let produto of produtos">
      <div class="card-produto">
      <!--<span class="badge-exclusivo">Exclusivo!</span> -->
        <div class="img-wrapper">
          
          <img [src]="produto.imagens[0].url" [alt]="produto.nome" class="img-produto" />

          <span class="badge-esgotado" *ngIf="produto.estoque === 0">Esgotado</span>
        </div>

        <div class="produto-info">
          <h3>{{ produto.nome }}</h3>
          <p class="produto-preco">R$ {{ produto.preco }}</p>
        </div>

        <div class="btn-ver-detalhes">
          Ver Detalhes
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Botão flutuante lateral direita -->
<button
  class="back-to-top-fixed"
  (click)="scrollToTop()"
  aria-label="Voltar ao topo"
>
  <i class="bi bi-arrow-up"></i>
</button>
