<div class="box-flutuante">
  <h2 class="titulo">Modelos Pronta Entrega</h2>
  <p class="texto-aconchegante">
    Esses modelos são exclusivos e, para garantir a beleza e qualidade, não são passíveis de reformas ou ajustes.
    Se gostou de algum e deseja em outro tecido, cor ou tamanho, é só nos chamar no WhatsApp mencionando o modelo —
    faremos um orçamento personalizado para você!
    <a href="https://wa.me/5541999218178" target="_blank" rel="noopener" class="btn-whatsapp">
      <i class="bi bi-whatsapp"></i>
    </a>
  </p>
</div>

<div class="grid-produtos">
  <div *ngFor="let produto of produtos" class="card-produto">
    <img [src]="produto.imagens[0]" [alt]="produto.nome" class="img-produto" />
    <div class="produto-info">
      <h3>{{ produto.nome }}</h3>
      <p class="produto-preco">R$ {{ produto.preco }}</p>
    </div>
    <a [routerLink]="['/produto-detalhes', produto.nome]" class="btn-carrinho">
  <span class="plus-icon">+</span>
  </a>
  </div>
</div>


<!-- Botão flutuante lateral direita -->
<button
  *ngIf="showBackToTop"
  class="back-to-top-fixed"
  (click)="scrollToTop()"
  aria-label="Voltar ao topo"
>
  <i class="bi bi-arrow-up"></i>
</button>
