.filtro-ordenacao {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: flex-end;
  margin: 10px 0 20px;
  padding-right: 10px;
  margin-top: -10px;
}

.filtro-ordenacao select {
  border: none;
  background: transparent;
  font-size: 1rem;
  color: #444;
  padding: 4px 6px;
  font-weight: 400;
}

.filtro-ordenacao select:focus {
  outline: none;
  border-bottom: 2px solid #3b3bdb;
}

.icon-filtro {
  color: #3b3bdb;
  font-size: 1.2rem;
}

/* ====== Container das abas ====== */
.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
  justify-content: center;
}

/* ====== Aba padrão ====== */
.tab {
  padding: 12px 28px;
  background: #E8F1FF;
  color: #0E2270;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: .2s;
  font-size: 1.2rem;
}

.tab:hover {
  background: #d8e7ff;
}

/* ====== Aba ativa ====== */
.tab.active {
  background: #0E2270;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-style: italic;
}

/* ====== Conteúdo ====== */
.tab-content {
  animation: fade .3s ease;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(5px);}
  to   { opacity: 1; transform: translateY(0);}
}

/*====== GRID DOS PRODUTOS ====== */
.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

/* ====== LINKS ====== */
.card-produto-link {
  text-decoration: none;
  color: inherit;
}

/* ====== CARD BASE ====== */
.card-produto {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: .25s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 260px;   /* diminui a largura */
  width: 100%;
  height: 280px;
  padding: 12px;
}

.card-produto:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.18);
}

/* ====== CORES POR CATEGORIA ====== */
.card-inverno .card-produto{
  background: #F7F9FF;
  border: 2px solid #D0E3FF;
}

.card-verao .card-produto {
  background: #F8FAFF;
  border: 2px solid #FFFDE7;
}

.card-acessorios .card-produto {
  background: #FFFFFF;
  border: 2px solid #E0EBF5;
}

.card-chuva .card-produto {
  background: #F7FAFF;
  border: 2px solid #FCE4EC;
}

/* ====== IMAGEM ====== */
.img-wrapper {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-produto {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

/* ====== NOME ====== */
.produto-info h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0E2270;
  text-align: center;
  margin: 12px 0;
}

/* ====== VER DETALHES ====== */
.linha-seta {
  width: 100%;
  height: 2px;
  position: relative;
  margin: -4px auto 12px;
}

.card-inverno .linha-seta,
.card-acessorios .linha-seta{
  background: linear-gradient(to right, #3E5BBF 60%, transparent);
}

.card-verao .linha-seta{
  background: linear-gradient(to right, #F3D166 60%, transparent);
}

.card-mestacao .linha-seta{
  background: linear-gradient(to right, #8B5E3C 60%, transparent);
}

.card-chuva .linha-seta{
  background: linear-gradient(to right, #F2AFC3 60%, transparent);
}

/* ====== Setinha ====== */
.linha-seta::after {
  content: "➜";
  position: absolute;
  right: -4px;
  top: -9px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: transform .2s ease;
}

.card-inverno .linha-seta::after,
.card-acessorios .linha-seta{
  color: #0E2270;
}

.card-verao .linha-seta::after{
  color: #DDB94E;
}

.card-mestacao .linha-seta::after{
  color: #8B5E3C;
}

.card-chuva .linha-seta::after{
  color: #E48FA9;
}


.card-produto:hover .linha-seta::after {
  transform: translateX(4px);
}

/* ====== BOTÃO FLUTUANTE ====== */
.back-to-top-fixed {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  position: fixed;
  bottom:40px;
  right:20px;
  z-index:2000;
  background-color: #4169e1;
  color: #fff;
  border-radius:50%;
  width:48px;
  height:48px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow:0 6px 16px rgba(0,0,0,0.18);
}

.back-to-top-fixed:hover {
  transform: scale(1.06);
  background:#3151b7;
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 600px) and (orientation: portrait), /* CONDIÇÃO A: Celular Vertical */
       (min-width: 601px) and (max-width: 1024px)     /* CONDIÇÃO B: Tablet */
{
  .tabs {
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }

  .tab {
    padding: 8px 14px;
    font-size: 0.9rem;
  }

  /* ====== Grid – 1 coluna ====== */
  .grid-produtos {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card-produto {
    width: 190px;
    min-height: 180px;
    padding: 8px;
  }

  .img-wrapper {
    height: 200px;
  }

  .produto-info h3 {
    font-size: 0.9rem;
    text-align: left;
    margin-left: 10px;
  }

  .img-produto{
    width: 70%;
  }

  .btn-ver-detalhes {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .filtro-ordenacao select {
    font-size: 0.8rem;
  }

  .icon-filtro {
    font-size: 1rem;
  }
}

