.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

.card-produto {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.2s ease;
}

.card-produto:hover {
  transform: scale(1.02);
}

.img-produto {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.produto-info {
  padding: 12px;
}

.produto-info h3 {
  font-size: 1.2rem;
  color: #2a3d66;
  margin-bottom: 8px;
}

.produto-preco {
  font-weight: bold;
  color: #0072ce;
}

.btn-carrinho {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #0072ce;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
   z-index: 10;
}

.btn-carrinho:hover {
  background-color: #003080;
}

.titulo {
  text-align: center;
  margin: 30px 0;
  font-size: 2rem;
  color: #0072ce;
}

.btn-whatsapp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  font-size: 1.4rem;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 12px;
}

.btn-whatsapp:hover {
  background-color: #1ebe57;
  box-shadow: 0 4px 8px rgba(30, 190, 87, 0.6);
}

.btn-whatsapp i {
  font-size: 1.2rem;
}

.back-to-top-fixed {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1000;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
   display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top-fixed:hover {
  background-color: #3151b7;
  transform: scale(1.1);
}

/* RESPONSIVO */
@media (max-width: 600px) {
  .grid-produtos {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .img-produto {
    height: 200px;
  }

  .produto-info h3 {
    font-size: 1rem;
  }

}


