* {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  flex-wrap: wrap;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: #0072ce;
}

.logo h3 {
  color: #000080;
  font-size: 18px;
  padding-left: 90px;
  margin: 5px 0 0 0;
}

.search-input {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.social-links .bi-instagram {
  color: #C13584; /* Roxo/Magenta */
}

.social-links .bi-facebook {
  color: #3b5998; /* Azul Facebook */
}

.social-links .bi-whatsapp {
  color: #25D366; /* Verde WhatsApp */
}

.social-links a i:hover {
  transform: scale(1.1); /* Ícone cresce um pouco */
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-menu {
  background-color: #0072ce;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu a {
  display: block;
  padding: 12px 0;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.nav-menu a:hover {
  text-decoration: underline;
}

/* ===== Botão hamburguer ===== */
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0072ce;
}

.btn-search-blue {
  background-color: #0072ce;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-search-blue:hover {
  background-color: #2b50d4;
}
.icon-link:focus,
.icon-link:active {
  outline: none;
  border: none;
  box-shadow: none;
}

/* -- RESPONSIVO -- */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu li {
    margin: 10px 0;
  }

  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-group {
    width: 100%;
    margin: 10px 0;
  }

  .social-links {
    margin: 10px 0;
  }
}
/* -- FIM RESPONSIVO -- */
