.footer {
  background: #f4f4f4;
  padding: 15px 20px;
}

.footer-columns {
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  align-items: start;
}

.footer-col {
  flex: 1;
  min-width: 180px;
}

.col-localizacao {
  grid-column: 2;
  grid-row: 2;
  margin-top: -65px;
}

.footer-col-group {
  display: flex;
  gap: 40px;
  flex: 2;
}

.footer-title {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 8px;
  color: #000080;
}

.list-item {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0;
}

.list-item img {
  width: 16px;
  height: 16px;
}

.list-item a {
  text-decoration: none;
  color: inherit;
}

.footer-menu {
  font-size: 0.75rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  margin: 4px 0;
}

.footer-menu a {
  text-decoration: none;
  color: #333;
}

.footer-menu a:hover {
  color: #000080;
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  padding: 6px 0;
  font-size: 0.7rem;
  color: #444;
}

.footer-copyright p {
  margin: 3px 0;
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 600px) and (orientation: portrait), /* CONDIÇÃO A: Celular Vertical */
       (min-width: 601px) and (max-width: 1024px)     /* CONDIÇÃO B: Tablet */{
 .footer-columns {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 12px;
    align-items: start;
    width: 100%;
  }

  /* ====== SELTORES ====== */
  .col-atendimento {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .col-pagamento {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .col-categorias {
    grid-column: 2 / 3;
    grid-row: 1;
    margin-top: 0;
  }

  .col-localizacao{
    grid-column: 2 / 3;
    grid-row: 2;
    margin-top: -10px;
  }

  .footer-col {
    box-sizing: border-box;
    width: 100%;
  }
}
