.footer {
  background: #f4f4f4;
  padding: 15px 20px; /* reduzido */
}

.footer-columns {
   display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 colunas */
  row-gap: 5px;
  align-items: start;
}

.footer-col {
  flex: 1;
  min-width: 180px;
}
.col-localizacao {
  grid-column: 2; /* mesma coluna do pagamento */
  grid-row: 2;    /* fica exatamente embaixo */
  margin-top: -65px;
}
/* Grupo para reorganizar no mobile */
.footer-col-group {
  display: flex;
  gap: 40px;
  flex: 2;
}

.footer-title {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 8px;
  color: #000080;
}

.list-item {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0;
}

.list-item img {
  width: 16px;
  height: 16px;
}

.list-item a {
  text-decoration: none;
  color: inherit;
}

.footer-menu {
  font-size: 0.75rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  margin: 4px 0;
}

.footer-menu a {
  text-decoration: none;
  color: #333;
}

.footer-menu a:hover {
  color: #000080;
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  padding: 6px 0;
  font-size: 0.7rem;
  color: #444;
}

.footer-copyright p {
  margin: 3px 0;
}

/* =========================== */
/*         RESPONSIVO          */
/* =========================== */
@media (max-width: 600px) and (orientation: portrait), /* CONDIÇÃO A: Celular Vertical */
       (min-width: 601px) and (max-width: 1024px)     /* CONDIÇÃO B: Tablet */{
 .footer-columns {
    display: grid !important;
    grid-template-columns: 1fr 1fr; /* duas colunas iguais */
    grid-auto-rows: auto;
    gap: 12px;
    align-items: start;
    width: 100%;
  }

  /* SELTORES: use as classes do seu HTML */
  .col-atendimento {
    grid-column: 1 / 2; /* coluna da esquerda */
    grid-row: 1;
  }

  .col-pagamento {
    grid-column: 1 / 2; /* coluna da direita, linha 1 */
    grid-row: 2;
  }

  .col-categorias {
    grid-column: 2 / 3; /* mesma coluna da direita, linha 2 (embaixo do pagamento) */
    grid-row: 1;
    margin-top: 0;      /* garante que não haja espaço extra */
  }

  .col-localizacao{
    grid-column: 2 / 3; /* coluna da direita, linha 1 */
    grid-row: 2;
    margin-top: -10px;
  }
  /* pequenas proteções para evitar largura indesejada */
  .footer-col {
    box-sizing: border-box;
    width: 100%;
  }
}
