* {
  font-family: 'Roboto', sans-serif;
}

:host {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

h2 {
  margin-top: 0;
  color: #000080;
  font-size: 1.3rem;
}

p {
  font-size: 0.9rem;
  margin: 10px 0 20px;
}

button {
  background-color: #0072ce;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 0.95rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #000080;
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 600px) and (orientation: portrait), /* CONDIÇÃO A: Celular Vertical */
       (min-width: 601px) and (max-width: 1024px)     /* CONDIÇÃO B: Tablet */{
  :host {
    padding: 15px;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.7rem;
    margin: 8px 0 16px;
  }

  button {
    padding: 8px 14px;
    font-size: 0.75rem;
  }
}
