.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.02);
  }

  .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .info {
    padding: 15px;
  }

  .info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }

  .origem {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }

  button {
    background-color: #008cba;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  button:hover {
    background-color: #005f7f;
  }

  .back-to-top-fixed:hover {
  background-color: #3151b7; /* tom mais escuro no hover */
  transform: scale(1.1);
}
