<div *ngIf="produto && medidas" class="medidas-wrapper">
  <!-- Lado Esquerdo — Imagem -->
  <div class="imagem-produto">
    <img [src]="produto.imagens[0]" alt="{{ produto.nome }}" />
  </div>

  <!-- Lado Direito — Card com marca d’água -->
  <div class="medidas-form-card">
    <div class="marca-agua">Artes & Focinhos</div>
    <p class="textoEscolhido">Modelo escolhido: </p>
    <h1 class="titulo-produto">{{ produto.nome }}</h1>
    <p><strong>Pescoço:</strong> {{ medidas.pescoco }} cm</p>
    <p><strong>Tórax:</strong> {{ medidas.torax }} cm</p>
    <p><strong>Comprimento:</strong> {{ medidas.comprimento }} cm</p>
    <p *ngIf="produto.acabamento">
    <strong>Acabamento:</strong> {{ produto.acabamento }}
    </p>
    <p><strong>Observações:</strong> {{ medidas.observacoes || 'Nenhuma' }}</p>
     <button class="btn-comprar"
        (click)="confirmar()">
        <i class="bi bi-cart4"></i>
        Comprar
      </button>
  </div>
</div>

<!-- Botão flutuante -->
<button class="back-to-top-fixed" (click)="scrollToTop()" aria-label="Voltar ao topo">
  <i class="bi bi-arrow-up"></i>
</button>
