body{
    background-color: #f9fbff;
}
h2{
    color: #1E88E5;
}

.card-container{
        border: 1px solid #cce0ff;
        border-radius: 10px;
        padding: 1rem 1.5rem;
        margin: 2rem auto;
        background-color: white;
        font-size: 1rem;
        color: #333;
        width: 100%;
        max-width: 90%;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.faq-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
  }

  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
  }

  .faq-pergunta {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000080;
  }

  .faq-pergunta:hover {
    color: #7a9cd9; /* azul pastel, por exemplo */
  }

  .faq-resposta {
    white-space: normal;
    line-height: 1.6;
    margin-top: 0.5rem;
    padding-left: 10px;
    color: #444;
    text-align: left;
  }
.btn-whatsapp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  font-size: 1.4rem;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 12px;

}

.btn-whatsapp:hover {
  background-color: #1ebe57;
  box-shadow: 0 4px 8px rgba(30, 190, 87, 0.6);
}

.btn-whatsapp i {
  font-size: 1.2rem;
}

.texto-aconchegante {
  font-size: 1rem;
  color: #555;
  margin: 0 0 20px 0;
  font-style: italic;
  max-width: auto;
  line-height: 1.4;
  background: #f9f9f9;
  padding: 12px 16px;
  border-left: 4px solid #4169e1; /* azul royal para combinar com seu header */
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.back-to-top-fixed {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1000;
  background-color: #4169e1; /* Azul royal */
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-to-top-fixed:hover {
  background-color: #3151b7; /* Tom mais escuro ao passar o mouse */
  transform: scale(1.1);
}
