/* ===========================
   FAQ — FOFINHO
=========================== */

.faq-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 15px;
}

.faq-header-card {
  background: linear-gradient(180deg, #ffeed8, #ffe2c7);
  border-radius: 22px;
  padding: 35px 25px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  position: relative;
  top: -35px;
}

.faq-header-card::after {
  content: "🐾";
  font-size: 70px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  opacity: 0.08;
}

.faq-header-card h2 {
  color: #0E2270;
  margin-bottom: 10px;
  font-weight: 600;
}

.faq-header-card p {
  font-size: 1rem;
  color: #444;
}

.btn-whatsapp {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #25d366;
}

.btn-whatsapp:hover {
  transform: scale(1.1);
}



/* ===========================
   LISTA DE PERGUNTAS
=========================== */

.faq-container {
  max-width: 900px;
  margin: 0 0;
  padding: 0 15px;
}

.faq-item {
  padding: 18px 0 22px;
  border-bottom: 1px solid #ddd; /* o traço separador */
}

.faq-pergunta {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
}

.faq-resposta {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  padding-right: 5px;
}

.faq-pergunta .seta {
  font-size: 1.1rem;
  color: #0E2270;
  margin-left: 10px;
}
.back-to-top-fixed {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  position: fixed; bottom:40px; right:20px; z-index:2000; background-color: #4169e1; color: #fff; border-radius:50%; width:48px; height:48px; display:flex; align-items:center; justify-content:center; box-shadow:0 6px 16px rgba(0,0,0,0.18); }

.back-to-top-fixed:hover { transform: scale(1.06); background:#3151b7; }
/* ===========================
   RESPONSIVO
=========================== */

@media (max-width: 600px) and (orientation: portrait), /* CONDIÇÃO A: Celular Vertical */
       (min-width: 601px) and (max-width: 1024px)     /* CONDIÇÃO B: Tablet */{
  .faq-header-card {
    padding: 25px 18px;
  }

  .faq-header-card h2 {
    font-size: 1.1rem;
  }

  .faq-pergunta {
    font-size: 1rem;
  }

  .faq-resposta {
    font-size: 0.9rem;
  }
  .faq-header-card p {
    font-size: 0.7rem;
  }
}
