<div class="voltar-pill">
  <button (click)="voltar()">
    <i class="bi bi-arrow-left"></i> Voltar
  </button>
</div>

<div *ngIf="produto" class="detalhes-wrapper">

  <!-- GRID ESQUERDA + DIREITA -->
  <div class="detalhes-grid">
    <!-- COLUNA ESQUERDA -->
    <div class="col-esquerda" [ngClass]="categoriaAba">
      <div id="carouselDetalhes" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let img of produto.imagens; let i = index" [class.active]="i === 0">

            <img [src]="img" [alt]="produto.nome" class="img-produto" />
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDetalhes" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselDetalhes" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

    </div>

    <!-- COLUNA DIREITA -->
    <div class="col-direita">

      <div class="marca-agua">Artes & Focinhos</div>
      <h1 class="titulo-produto">{{ produto.nome }}</h1>
      <div class="preco">R$ {{ produto.preco }}</div>
      <div class="formas-pagamento-titulo">Formas de pagamento</div>
      <div class="pagamento-opcoes">
        <div class="opcao">
          <img src="https://i.ibb.co/gFbpF10z/IMG-6976.png" alt="Pix">
          <span>PIX</span>
        </div>

        <div class="opcao">
          <img src="https://i.ibb.co/HDBWDhK3/IMG-6977.png" alt="Dinheiro">
          <span>Dinheiro</span>
        </div>
      </div>
      <div class="seletor-variacao" *ngIf="produto?.tamanhos?.length > 1">
        <label for="tamanho">Selecione o modelo:</label>
        <select [(ngModel)]="tamanhoSelecionado[produto.nome]" name="tamanho">
          <option value="" disabled selected>Escolha...</option>
          <option *ngFor="let t of produto.tamanhos" [value]="t">{{ t }}</option>
        </select>
      </div>
      <button class="btn-comprar"
        [disabled]="produto.estoque === 0"
        (click)="comprar(produto)">
        <i class="bi bi-cart4"></i>
        Comprar
      </button>

      <div class="estoque">
        Estoque: {{ produto.estoque }}
      </div>
      <!-- SOB MEDIDA -->
     <div class="sob-medida-box" *ngIf="produto.sobMedida">
      <p class="sob-medida-texto">
        <i class="bi bi-scissors"></i>
        Deseja em outra medida?
      </p>

      <button class="btn-sob-medida"
              (click)="irParaEncomenda(produto.nome)">
        Solicitar Sob Medida
      </button>
    </div>

  </div>
</div>

</div>

<!-- Descrição do produto -->
<h2 class="titulo-descricao">Descrição</h2>
<div class="descricao-central">
  <p><strong>Tamanho:</strong> {{ produto.tamanhos.join(', ') }}</p>
  <p [innerHTML]="produto.descricao | negrito"></p>
  <p [innerHTML]="produto.observacao | negrito"></p>

</div>
<!-- Botão flutuante -->
<button class="back-to-top-fixed" (click)="scrollToTop()" aria-label="Voltar ao topo">
  <i class="bi bi-arrow-up"></i>
</button>
